.section {
  background-image: url('../../../assets/images/background-pokedex.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.back-btn {
  width: fit-content;
  font-weight: 600;
  cursor: pointer;
}

.card {
  &-container {
    padding: 8px;
    border-radius: 6px;
    background-color: #F2F2F2;
  }
  &-image {
    width: 240px;
    height: 240px;
  }
}

.view-img {
  cursor: pointer;
  &:hover {
    background-color: #2B71B8;
  }
}

.selected-img {
  background-color: #2B71B8;
}

.card-detail {
  &-container {
    padding: 16px;
    border-radius: 6px;
    background-color: #2B71B8;
  }
  &-title {
    color: #C2DFFF;
    font-size: 14px;
    font-weight: bold;
  }
  &-value {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
  }
}

.poke {
  &-title {
    font-size: 16px;
    color: #1D2C5E;
    font-weight: bold;
  }
  &-label {
    font-size: 18px;
    color: #1D2C5E;
    font-weight: 600;
  }
  &-value {
    font-size: 14px;
    color: #1D2C5E;
    font-weight: bold;
  }
}