<app-header [title]="dataDetails?.name"></app-header>

<div class="section text-center p-3">

  <div class="text-start back-btn" (click)="goBack()">
    <img src="./assets/images/back-btn.png" alt="Back Button">
    <span class="p-2">Go Back</span>
  </div>

  <div class="row mt-5">
    <div class="col offset-2">
      <div class="row">
        <div class="col">
          <div class="card-container">
            <div>
              <img [src]="selectedImage" [alt]="dataDetails?.name" class="card-image">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col text-start">
      <div class="card-detail-container">
        <div class="row mb-2">
          <div class="col">
            <span class="card-detail-title">Height</span> <br>
            <span class="card-detail-value">{{ dataDetails?.height }}</span>
          </div>
          <div class="col">
            <span class="card-detail-title">Weight</span> <br>
            <span class="card-detail-value">{{ dataDetails?.weight }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <span class="card-detail-title">Base Experience</span> <br>
            <span class="card-detail-value">{{ dataDetails?.base_experience }}</span>
          </div>
          <div class="col">
            <span class="card-detail-title">Abilities</span> <br>
            <span class="text-capitalize card-detail-value"
              *ngFor="let data of dataDetails?.abilities; let i = index">{{ data.ability.name }}<span
                *ngIf="i !== (dataDetails?.abilities.length - 1)">, </span></span>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <span class="poke-title">Types</span>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-auto" *ngFor="let item of dataDetails?.types">
          <poke-type [type]="item.type.name"></poke-type>
        </div>
      </div>

    </div>
    <div class="col-2"></div>
  </div>

  <div class="row">
    <div class="col-auto offset-2">
      <div class="view-img" (click)="selectedImage = dataDetails?.sprites?.front_default">
        <img [src]="dataDetails?.sprites?.front_default" [alt]="dataDetails?.name">
      </div>
    </div>
    <div class="col-auto">
      <div class="view-img" (click)="selectedImage = dataDetails?.sprites?.back_default">
        <img [src]="dataDetails?.sprites?.back_default" [alt]="dataDetails?.name">
      </div>
    </div>
  </div>

  <div class="row text-start mt-3">
    <div class="col offset-2">
      <span class="text-capitalize poke-title">Status</span>
    </div>
  </div>
  <div class="row text-start mt-3">
    <div class="col offset-2">
      <div class="row">
        <div class="col-4 mb-2" *ngFor="let item of dataDetails?.stats">
          <span class="text-capitalize poke-label">{{ item?.stat.name }}: </span><span class="poke-value">{{ item?.base_stat }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-start mt-3">
    <div class="col offset-2">
      <span class="text-capitalize poke-title">Moves</span>
    </div>
  </div>
  <div class="row text-start mt-3">
    <div class="col offset-2">
      <div class="row">
        <div class="col-4 mb-2" *ngFor="let item of dataDetails?.moves">
          <span class="text-capitalize poke-value">{{ item?.move.name }}</span>
        </div>
      </div>
    </div>
  </div>

</div>