<app-header title="Pokemon App - Enrico Darren"></app-header>

<div class="section p-3">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Pokemon</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pokemonList?.results; let i = index">
        <td class="text-capitalize">{{ item?.name }}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="gotoDetail(item)">See Detail</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="pokemonList.previous ? ' cursor-pointer' : 'disabled'">
          <span class="page-link" (click)="getPokemonList(pokemonList.previous)">Previous</span>
        </li>
        <!-- <li class="page-item active"><a class="page-link" href="#">1</a></li> -->
        <li class="page-item" [ngClass]="pokemonList.next ? ' cursor-pointer' : 'disabled'">
          <a class="page-link" (click)="getPokemonList(pokemonList.next)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>